@import '../../../../../styles/global.scss';
.scheduler-table {
  padding: 50px 50px;
  &__header {
    border-bottom: 1px solid $light-shade;
    padding-bottom: 10px;
    color: $primary;
  }
  &__column {
    flex: 1 1;
  }
}
