<div class="header">
  <div class="container">
    <div class="header__wrapper fw">
      <img
        src="/assets/images/logo.svg"
        [routerLink]="['/albums']"
        routerLinkActive="router-link-active"
        alt="KYT Logotype"
        class="header__logotype"
      />
      <div class="header__profile">
        <kyt-dropdown-menu [toggleRef]="toggleRef" [contentRef]="contentRef"></kyt-dropdown-menu>
        <ng-template #toggleRef>
          <div class="header__profile-headline">
            <div class="header__profile-avatar header__profile-avatar--small">
              <img [src]="user.photo_url" alt="Avatar" class="header__profile-avatar-image" />
            </div>
            <div class="header__profile-name">{{ user.first_name }} {{ user.last_name }}</div>
          </div>
        </ng-template>
        <ng-template #contentRef let-open="false">
          <div class="header__profile-menu header__profile-menu--active">
            <div class="header__profile-menu-header">
              <div class="header__profile-avatar header__profile-avatar--small">
                <img [src]="user.photo_url" alt="Avatar" class="header__profile-avatar-image" />
              </div>
              <div class="header__profile-menu-username-wrapper">
                <div class="header__profile-menu-username">
                  {{ user.first_name }} {{ user.last_name }}
                </div>
              </div>
            </div>
            <div class="header__profile-menu-links-list"></div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
