@import '../../../../../styles/global.scss';
.scheduler-row {
  border-bottom: 1px solid $light-shade;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__content {
    font-size: 18px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
  }
  &--odd {
    background-color: #eee;
  }
  &--disabled {
    filter: grayscale(1);
    .scheduler-row__image--open {
      cursor: not-allowed;
      &:hover {
        transform: rotate(0deg);
      }
    }
  }
  &__image {
    height: 50px;
    transition: 0.3s ease-in-out;
    &--open,
    &--review {
      cursor: pointer;
      &:hover {
        transform: rotate(7deg);
      }
    }
  }
}
