<div
  class="scheduler-row fw"
  [class.scheduler-row--odd]="isOdd"
  [class.scheduler-row--disabled]="isPast"
>
  <h4 *ngIf="columnId === -1">{{ row.data.start_time }} - {{ row.data.end_time }}</h4>
  <div class="scheduler-row__content fw" *ngIf="columnId !== -1">
    <div [ngSwitch]="row.data.approved" (click)="select(row)">
      <img
        *ngSwitchCase="repetitionStatus.open"
        class="scheduler-row__image scheduler-row__image--open"
        src="assets/images/open.svg"
        alt="open for enroll"
        title="Enroll"
      />
      <img
        *ngSwitchCase="repetitionStatus.declined"
        class="scheduler-row__image scheduler-row__image--open"
        src="assets/images/open.svg"
        alt="open for enroll"
        title="Enroll"
      />
      <img
        *ngSwitchCase="repetitionStatus.review"
        class="scheduler-row__image scheduler-row__image--review"
        src="assets/images/review.svg"
        alt="open for enroll"
        title="In progress"
      />
      <img
        *ngSwitchCase="repetitionStatus.approved"
        class="scheduler-row__image"
        src="assets/images/closed.svg"
        alt="Closed"
        title="Closed"
      />
    </div>
  </div>
</div>
